* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2c3338;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: #a3a2a2;
}

.wrapper .input-box {
  color: #a3a2a2;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: #434a52;
  border: none;
  outline: none;
  border: 2px solid rgba(78, 78, 78, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: #000000;
  padding: 20px 40px 20px 20px;
}

.input-box input::placeholder {
  color: #a3a2a2;
}

.input-box i {
  position: relative;
  left: 90%;
  bottom: 70%;
  font-size: 20px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #ea4c88;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: #bcbaba;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.remember-forgot label {
  color: #676767;
}

.register-link p {
  color: #676767;
}
.wrapper .btn:hover {
  color: #fff;
  background-color: #3b4148;
}
html {
  filter: invert(1) hue-rotate(180deg);
}
